
<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recommanded user</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<ion-card *ngFor="let item of data.recommand" (click)="detail(item)">
		<ion-item>
			<img src="/api/resources/upload/profile/{{item.photo}}" height="100px" width="100px">
		</ion-item>
		<ion-item>
			<ion-label color="primary" stacked>Name</ion-label>
			<ion-input type="text" [disabled]="true" value="{{item.user_name}}"></ion-input>
		</ion-item>
		<ion-item *ngIf="item.recommand_status=='3'">
			I called&nbsp;:&nbsp;&nbsp;&nbsp;<ion-icon name="checkmark"></ion-icon>
		</ion-item>
		<ion-item *ngIf="item.recommand_status=='4'">
			Recommanded user denied my call&nbsp;:&nbsp;&nbsp;&nbsp;<ion-icon name="checkmark"></ion-icon>
		</ion-item>
	</ion-card>
</ion-content>